* {
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: gray;
}
h1, h4 {
  text-align: center;
}
p {
  font-size: 20px;
  margin-right: 10%;
}
#column1 {
  width: 65%;
  float: left;
}
#column2 {
  width: 35%;
  float: left;
}
#hook {
  font-size: 26px;
  border: 4px solid;
  text-align: center;
}
#consult {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: yellow;
}
#pic2 {
  text-align: center;
  margin-bottom: 50px;
}
#footer {
  margin-left: 5%;
  width: 90%;
  border: 8px solid;
  text-align: center;
}
