body {
  font-family: 'Tahoma', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
/*header*/
header {
  height: 200px;
  padding: 10px;
  background-color: #1C2663;
  color: #4CD9FF;
  text-align: center;
}
header h1 {
  font-family: 'Lucida Bright', Georgia;
  font-size: 55px;
}
header h3 {
  font-family: 'Lucida Bright', Georgia;
  font-size: 22px;
  color: #D9FAFF;
}
/*sections*/
#hook {
  padding: 10px;
  background-color: #D9FAFF;
  border: 5px solid white;
}
#hook h3 {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Bright', Georgia;
  font-size: 35px;
  color: #1C2663;
  text-align: center;
}
#hook h3 span {
  color: #EBC321;
  text-shadow: 2px 2px #4CD9FF;
}
#hook img {
  height: 350px;
  width: 350px;
  float: right;
  margin: -50px 50px 0 50px;
  border: 2px solid #1C2663;
}
#section1 {
  padding: 10px;
  background-color: #32B1FC;
}
#section1 h3 span {
 color: #4CD9FF;
 text-shadow: 2px 2px #1C2663;
}
#break {
  padding: 10px;
  background-color: #D9FAFF;
  border: 5px solid white;
}
#break h3 {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Bright', Georgia;
  font-size: 35px;
  color: #EBC321;
  text-align: center;
}
#break h3 img {
  height: 55px;
  width: 55px;
}
#section2 {
  padding: 10px;
  background-color: #4CD9FF;
}
/*footer*/
footer {
  height: 200px;
  padding: 10px;
  border: 5px solid white;
  background-color: #D9FAFF;
  color: #1C2663;
  text-align: center;
}
footer ul {
  list-style-type: none;
}
footer ul:nth-child(2) li {
  display: inline-block;
  padding: 5px;
}
footer ul li a {
  text-decoration: none;
}
footer ul li a img {
  height: 50px;
  width: 50px;
}
