* {
  font: 'News Cycle', sans-serif;
  color: white;
  background-color: gray;
}
#nav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100px;
  background-color: #FFC04C;
  text-align: right;
}
#nav-item {
  font-size: 22px;
  background-color: #FFC04C;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
}
#main {
  margin-top: 100px;
  height: 750px;
}
#section1, #section2 {
  float: left;
  width: 50%;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 34px
}
p {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}
#table {
  border: thick solid;
  text-align: center;
}
td {
  border: thin solid;
}
#footer {
  position: fixed;
  width: 90%;
  left: 5%;
  bottom: 0px;
  padding: 10px;
  border: 8px solid #FFC04C;
  background-color: lightgray;
  border-radius: 50px;
  text-align: center;
}
